@use 'src/design/variables';

.task-card {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: variables.$border-radius-m;
  background: variables.$color-background-alt;
  box-shadow: variables.$box-shadow;
  color: variables.$color-text;

  &:hover {
    background: variables.$color-background-hover;
    box-shadow: variables.$box-shadow-big;
    padding-left: 8px;

    .task-card__buttons {
      display: flex;
    }

    .task-card__subtasks-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tasks-completion-count {
      display: none;
    }
  }

  &--with-subtasks {
    padding-left: 8px;
  }

  &--subtask {
    &:hover {
      padding-left: 16px;
    }
  }
  
  &__name {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    overflow-wrap: anywhere;
    cursor: default;
  }

  &__buttons {
    display: none;
    align-items: center;
    margin-left: auto;
  }

  &__subtasks-arrow {
    display: none;
    padding-right: 8px;
    cursor: pointer;

    &--show {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tasks-completion-count {
    margin-left: auto;
    padding-left: 4px;
    white-space: nowrap;
    opacity: 0.5
  }
}

.task-subtasks {
  margin-top: 8px;
  margin-left: 16px;
  display: flex;;
  flex-direction: column;
  gap: 8px;
}