$color-background: #F4F7FE;
$color-background-alt: #FFFFFF;
$color-background-dark: #ECF1FD;
$color-background-hover: #F8FAFF;
$color-background-action: #007DFC;

$color-text: #001C39;
$color-text-alt: #88819F;
$color-text-action: #007DFC;
$color-text-action-alt: #FFFFFF;

$color-separator: #E4E9F3;

$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 16px;

$box-shadow: 0px 0px 1px 0px rgba(18, 3, 62, 0.10), 0px 1px 1px 0px rgba(18, 3, 62, 0.10);
$box-shadow-big: 0px 0px 1px 0px rgba(18, 3, 62, 0.11), 0px 3px 5px 0px rgba(18, 3, 62, 0.10);;

$card-max-width: 294px;